# Server
NODE_ENV=development
PORT=3000

# CORS
CORS_ORIGIN=http://localhost:5173,http://localhost:3000

# Database (PostgreSQL)
DATABASE_URL=postgresql://dezpay_user:dezpay_password@localhost:5432/dezpay

# Redis
REDIS_URL=redis://localhost:6379

# JWT
JWT_SECRET=your-super-secret-jwt-key-minimum-32-characters-long
JWT_EXPIRES_IN=24h

# Bcrypt
BCRYPT_ROUNDS=10

# Admin seed (opsional — digunakan oleh npm run seed)
ADMIN_EMAIL=admin@dezpay.id
ADMIN_PASSWORD=Admin@DezPay2024!
